<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta charset="UTF-8">
    <title>登录和注册表单切换jquery特效</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{%static 'users/jquery.min.js'%}"></script>
    <link rel="stylesheet" href="{%static 'users/indexstyle.css'%}">
</head>

<!-- partial:index.partial.html -->
<body>
    <div class="container">
        <div class="backbox">
            <div class="loginMsg">
                <div class="textcontent">
                    <p class="title">Do not have an account?</p>
                    <p>By registering, you agree to the User Agreement.</p>
                    <button id="switch1">sign up</button>
                </div>
            </div>
            <div class="signupMsg visibility">
                <div class="textcontent">
                    <p class="title">Already have an account?</p>
                    <p>Login to see all permissions.</p>
                    <button id="switch2">login</button>
                </div>
            </div>
        </div>
        <!-- backbox -->
        <div class="frontbox">
            <div class="login">
                <h2>login</h2>
                <div class="inputbox">
                    <input type="text" name="username" placeholder="  username">
                    <input type="password" name="password" placeholder="  password">
                </div>
                <p>forget password?</p>
                <button>login</button>
            </div>
            <div class="signup hide">
                <h2>sign up</h2>
                <div class="inputbox">
                    <input type="text" name="username" placeholder=" username">
                    <input type="text" name="email" placeholder="  EMAIL">
                    <input type="password" name="password" placeholder="  password">
                </div>
                <button>注册</button>
            </div>
        </div>
        <!-- frontbox -->
    </div>
</body>
</html>
<!-- partial -->
<script src="{%static 'users/indexscript.js'%}"></script>

</html>
